.filter-container {
  height: auto;
  border-bottom: 3px solid lightgray;
  padding: 18px;
}
button[data-btn="refine-search-btn"] {
  background-color: lightblue;
  margin-left: 18px;
  width: 90%;
  height: 40px;
  z-index: 1;
}
