.main-content {
  display: flex;
  flex: 1;
}
.filters-container-wrap {
  background-color: white;
  flex-basis: 20rem;
}
.list-container-wrap {
  background-color: white;
  margin-left: 12px;
  flex: 1;
}
