*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /*primary colors*/
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 76%, 53%);
  /* body */
  --font-size-header: 1rem;
  --padding-left: 2rem;
}
.App {
  background-color: gainsboro;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.topbar {
  padding: 16px 0 18px;
  background-color: #fff;
}
